<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Clientes</li>
  </ol>
</nav>
<div class="container">
  <div class="clid list-cli">
    <h5 class="clid-header">Lista de Clientes</h5>
    <div class="clid-body">
      <table class="table">
          <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Nome</th>
              <th scope="col">CPF</th>
              <th scope="col">Telefone</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let cli of clis">
              <td>{{cli.id}}</td>
              <td>{{cli.nome}}</td>
              <td>{{cli.telefone}}</td>
              <td>{{cli.cpf}}</td>
              <td>
                <button type="button" class="btn btn-warning btn-sm" (click)="editCli(cli)">Editar</button>
                <button type="button" class="btn btn-danger btn-sm ml-1" (click)="deleteCli(cli)">Deletar</button>
              </td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>




<div class="BuscarCliente">

  <div class="cli busc-cli">
    <h5 class="cli-header">Buscar Cliente</h5>
    <div class="cli-body">
        <form id="busc-form" (ngSubmit)="getCliById(id)">

          <div class="form-group">
            <label for="id">ID</label>
            <input type="text" [(ngModel)]="cli.id" id="id" name="id" #nome="ngModel" required  placeholder="Digite o id para a busca">
            <div>
                <div>id é obrigatório</div>
            </div>
        </div>

          <div class="form-group">
              <label for="nome">Nome</label>
              <input type="text" [(ngModel)]="cli.nome" id="nome" name="nome" #nome="ngModel"  >

          </div>
          <div class="form-group">
              <label for="cpf">cpf</label>
              <input type="text" [(ngModel)]="cli.cpf" id="cpf" name="cpf" #cpf="ngModel"   >

          </div>
          <div class="form-group">
              <label for="telefone">telefone</label>
              <input type="number" [(ngModel)]="cli.telefone" id="telefone" name="telefone" #telefone="ngModel">

          </div>
          <button type="submit" class="btn btn-primary btn-busc-cli">Buscar</button>
        </form>
    </div>
  </div>

</div>

</div>
